* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

button {
	border: none;
	background: transparent;
	padding: 3px;
	user-select: none;
	cursor: pointer;
}
