* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
	font-family: 'Roboto Condensed', sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

button {
	border: none;
	background: transparent;
	user-select: none;
	cursor: pointer;
	display: flex;
	align-items: flex-end;
	text-transform: uppercase;
}
